<h1>All Articles</h1>

<ul id="articles">
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article), class: 'article_title', id: "article_#{article.id}" %>
    </li>
  <% end %>
  <%= link_to "Create a new article", new_article_path, class: "new_article" %>
  <%= link_to "View/edit tags", tags_path, class: "tag_path" %>
