<h1><%= @article.title %></h1>
<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>
<p>
  <% if @article.image.exists? %>
    <%= image_tag @article.image.url(:medium) %><br/>
  <% end %>
</p>
<p><%= @article.body %></p>
<%= link_to "Edit this article", edit_article_path(@article) %><br />
<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
<%= render partial: 'comments/form' %>
<%= link_to "<< Back to articles list", articles_path %><br />
<%= link_to "Delete article", article_path(@article), method: :delete, data: {confirm: "Are you sure you want to delete this article?"} %>
