<h1>All Tags</h1>

<ul id="tags">
  <% @tags.each do |tag| %>
    <li>
      <%= link_to tag.name, tag_path(tag), class: 'tag_name', id: "tag_#{tag.id}" %>
      <%= link_to "Delete tag", tag_path(tag), method: :delete, data: {confirm: "are you sure you want to delete this tag?"} %>
    </li>
  <% end %>
</ul>
<%= link_to "Back to articles", articles_path, class: "article_index" %>
