<h1>Articles Tagged with <%= @tag.name %></h1>

<ul>
  <% @tag.articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %></li>
  <% end %>
</ul>
<%= link_to "Delete tag", tag_path(@tag), method: :delete, data: {confirm: "are you sure you want to delete this tag?"} %>
